In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
website = 'https://www.datosmundial.com/co2-por-pais.php' # Página web
page = requests.get(website)
page.status_code # Respuesta de la petición HTTP

200

In [3]:
soup = BeautifulSoup(page.content) # page.content contenido en bruto de la respuesta del servidor
print(soup.prettify()) # Estructura anidada

<!DOCTYPE HTML>
<html lang="es">
 <head>
  <meta charset="utf-8"/>
  <title>
   Emisiones de metano y CO2 por país
  </title>
  <link href="https://js.datosmundial.com" rel="preconnect"/>
  <link href="https://js.datosmundial.com" rel="dns-prefetch"/>
  <link href="https://cdn.datosmundial.com" rel="preconnect"/>
  <link href="https://cdn.datosmundial.com" rel="dns-prefetch"/>
  <link href="https://www.laenderdaten.info/co2-nach-laendern.php" hreflang="de" rel="alternate"/>
  <link href="https://www.worlddata.info/greenhouse-gas-by-country.php" hreflang="en" rel="alternate"/>
  <link href="https://www.datosmundial.com/co2-por-pais.php" hreflang="es" rel="alternate"/>
  <link href="https://www.donneesmondiales.com/co2-par-pays.php" hreflang="fr" rel="alternate"/>
  <link href="https://www.datosmundial.com/co2-por-pais.php" id="canonical" rel="canonical"/>
  <meta content="Los mayores contaminantes de los gases de efecto invernadero: una lista mundial de países con emisiones y consumo per cápita." name="description"/>
  <meta content="true" name="HandheldFriendly"/>
  <meta content="360" name="MobileOptimized"/>
  <meta content="width=device-width,minimum-scale=1,initial-scale=1,user-scalable=yes" name="viewport"/>
  <meta content="#00405D" name="theme-color"/>
  <link href="//cdn.datosmundial.com/pics/favs/64x64.png" rel="icon" type="image/x-icon"/>
  <link href="//cdn.datosmundial.com/pics/favs/64x64.png" rel="shortcut icon" sizes="16x16 24x24 32x32 48x48 64x64"/>
  <link href="//cdn.datosmundial.com/pics/favs/192x192.png" rel="apple-touch-icon" sizes="72x72 76x76 114x114 120x120 144x144 152x152 180x180 192x192"/>
  <link href="//cdn.datosmundial.com/pics/favs/apple-touch-icon-precomposed.png" rel="apple-touch-icon-precomposed"/>
  <link href="//cdn.datosmundial.com/css/footer-es.css" media="print" onload="this.media='all'" rel="stylesheet"/>
  <noscript>
   <link href="//cdn.datosmundial.com/css/footer-es.css" rel="stylesheet"/>
  </noscript>
  <meta content="Emisiones de metano y CO2 por país" property="og:title"/>
  <meta content="Los mayores contaminantes de los gases de efecto invernadero: una lista mundial de países con emisiones y consumo per cápita." property="og:description"/>
  <meta content="website" property="og:type"/>
  <meta content="https://cdn.datosmundial.com/pics/co2.jpg" property="og:image"/>
  <meta content="320" property="og:image:width"/>
  <meta content="244" property="og:image:height"/>
  <meta content="https://www.datosmundial.com/co2-por-pais.php" property="og:url"/>
  <meta content="es_ES" property="og:locale"/>
  <meta content="DatosMundial.com" property="og:site_name"/>
  <meta content="Emisiones de metano y CO2 por país" name="twitter:title"/>
  <meta content="summary" name="twitter:card"/>
  <meta content="Los mayores contaminantes de los gases de efecto invernadero: una lista mundial de países con emisiones y consumo per cápita." name="twitter:description"/>
  <meta content="https://cdn.datosmundial.com/pics/co2.jpg" name="twitter:image"/>
  <script defer="" src="//js.datosmundial.com/public7-es.js">
  </script>
  <style>
   html,body{background-color:#DBD7D0;margin:0;font-size:9pt;color:#000;font-family:Verdana,Arial,Helvetica,Roboto;line-height:135%;}#outer-wrap{max-width:990px;margin:0 auto;box-shadow:0 0 30px 5px rgba(0,0,0,.3);background-color:#fff;}header{padding:80px 0 0 0;background-image:linear-gradient(to bottom,#fff 25%,#e2e2e2);}#navbar{height:13px;}#sitetitle{float:left;width:300px;height:35px;text-align:left;padding-left:10px;margin-top:-5px;}#topnav a,abbr{text-decoration:none !important;}img,table{border:0;}#intro1{position:relative;overflow:hidden;height:auto;box-sizing:border-box;color:#fff;padding:0;}#intro3{position:relative;background-color:rgba(0,70,99,0.75);padding:4% 4% 30px 4%;text-align:left;box-sizing:border-box;}#intro1 a{color:#0ff;}#blurbg{position:absolute;top:-20px;left:-20px;right:-20px;bottom:-20px;overflow:hidden;background-repeat:no-repeat;background-position:center center;background-size:cover;filter:blur(3px);}#blurbg.satellite{filter:blur(0px);}#intro3.satellite{background-color:rgba(0,40,40,0.7);}.boxwhite{background-color:#fff;padding:30px;}.greybg{background-color:#eee;}.clear{clear:both;}.large{font-size:2em;margin:20px 0;}a.langh{padding-left:26px;}.center,tr.center th,tr.center td,div.map{text-align:center;}.left,tr.left th:not(.right),tr.left td:not(.right){text-align:left !important;}.right,tr.right th:not(.left),tr.right td:not(.left){text-align:right;}.top,tr.top th:not(.bottom),tr.top td:not(.bottom){vertical-align:top;}.bottom,tr.bottom th:not(.top),tr.bottom td:not(.top){vertical-align:bottom;}img.right{float:right;}img.deko{display:none;max-width:340px;height:auto;float:left;box-shadow:3px 3px 6px #000;margin:0px 50px 30px 0px;}.floater{overflow:hidden;}a{color:#3B45BA;}h1{font-size:25pt;margin-top:0px;font-weight:normal;line-height:30pt;text-shadow:2px 2px 3px rgba(0,0,0,0.5);}h2,.h2{font-size:16pt;color:#0D1656;line-height:160%;font-weight:normal;}h3,.h3{font-size:13pt;color:#0D1656;line-height:140%;font-weight:normal;margin-bottom:10px;}.nowrap{white-space:nowrap;}img.shadow{box-shadow:3px 3px 6px #000;}img.graph,picture.graph{max-width:100%;height:auto;margin:0 auto;}a.btn,input.btn,button.btn{background-color:#666;color:#fff !important;padding:3px 20px 3px 20px;border:0px;border-radius:9px;cursor:pointer;text-align:center;text-decoration:none;white-space:nowrap;}#intro1 .btn{background-color:#fff;color:#3B45BA !important;}.boxwhite .btn{color:#3B45BA;font-weight:bold;}.adtg{min-height:3px;text-align:center;}#vidad{min-height:250px;}div.hrz,div.bbd{display:block;width:auto;min-width:728px;min-height:90px;margin:5px auto 10px auto;}div.bbd{min-width:970px;min-height:325px;}.cad,.cad-right{display:block;min-width:300px;max-width:336px;}.cad-right{float:right;width:300px;margin:0 0 10px 20px;}ins.adsbygoogle{display:block;margin:0 auto;}#stickyad{width:100%;height:auto;overflow:hidden;position:fixed;bottom:0;z-index:9999999;}#searchform form{display:block;width:auto;padding:1px 1px 0px 2px;border:1px solid #02968C;background-color:#fff;border-radius:5px;float:right;}#searchform input[type=text]{width:185px;height:20px;font-size:13px;outline:none;border:0;background-color:#fff;color:#000;}#searchgo{border:0;background-color:transparent;height:21px;width:21px;vertical-align:middle;margin:0 0 2px 15px;background-image:url(//cdn.datosmundial.com/pics/search.png);background-size:cover;cursor:pointer;}#menubtn{font-size:34px;color:#000;margin-right:10px;float:right;width:auto;display:inline-block;}@media (max-width:630px){html,body{font-size:11pt;}header{display:block;position:fixed;top:0;left:0;right:0;height:23px;padding:16px 12px;z-index:998;background-image:linear-gradient(to bottom,#fff,#e2e2e2);-webkit-transition: all 0.5s ease-in-out;-moz-transition: all 0.5s ease-in-out;transition: all 0.5s ease-in-out;}#sitetitle{width:240px;height:28px;padding-left:7px;margin-bottom:5px;}#searchform form{width:240px;margin:15px auto;float:none;}#searchform{border-bottom:1px solid #60A0BD;padding-bottom:15px;}#inner-wrap{margin-top:55px;}.ab630,#navbar{display:none;}.sidenav{display:block;position:fixed;top:0;bottom:0;left:100%;width:250px;padding:10px;background-color:#ddd;z-index:999;overflow-y:auto;}.nav-out{-webkit-transform:translateX(10%);-moz-transform:translateX(10%);transform:translateX(10%);}.boxwhite{padding:10px 2% 30px 2%;}h1{font-size:20pt;}.cad,.cad-right,.cad-fix,.bbd{min-height:100px;}div.cad-right{float:none;margin:10px 0 10px 0;width:100%;min-height:0;max-width:100%;}div.hrz{min-width:100%;min-height:50px;}div.bbd{min-width:100%;min-height:305px;}}@media (min-width:631px){#searchform{position:absolute;top:15px;width:100%;max-width:970px;margin:auto;z-index:1000;text-align:left;}a.langh{font-size:8pt;color:#333;margin:0 15px;opacity:.6;}#menubtn,.no-desktop,#topnav .subtitle{display:none;}#topnav{display:inline-block;width:545px;float:right;text-align:left;padding-top:15px;}#topnav a{float:left;width:73px;text-align:center;font-size:11pt;padding-bottom:3px;}#topnav a.eu{width:83px;}#topnav a.am{width:95px;}#topnav a.au{width:105px;}#topnav a.oz{width:100px;}img.deko{display:block;}#intro3{min-height:423px;}.cad,.cad-right,.cad-fix{min-height:250px;}.cad-right+h2{margin-top:-5px;}}@media (max-width:800px){img.deko{max-width:250px;margin:0px 30px 20px 0px;}}table.std100 thead tr.no-sort td{border-bottom:0;}.std100 tr>*:not(.center){text-align:right;white-space:nowrap;}.std100 tr>*:first-of-type{text-align:left;}
  </style>
 </head>
 <body data-page="Rankings:Treibhausgase">
  <div id="outer-wrap">
   <div id="inner-wrap">
    <header>
     <nav id="menubtn" onclick="toggleNav('topnav');">
      ☰
     </nav>
     <div id="searchcombo">
     </div>
     <a href="/">
      <img alt="DatosMundial.com" height="35" id="sitetitle" src="//cdn.datosmundial.com/pics/logo-es750.png" width="300"/>
     </a>
     <nav class="sidenav nav-out" data-navbardefault="0" id="topnav">
      <div class="subtitle">
       <b id="navclose" onclick="toggleNav('topnav');">
        ✕
       </b>
       Países en...
      </div>
      <a class="am" data-navbar="585" href="/america/index.php">
       América
      </a>
      <a class="eu" data-navbar="500" href="/europa/index.php">
       Europa
      </a>
      <a class="as" data-navbar="421" href="/asia/index.php">
       Asia
      </a>
      <a class="af" data-navbar="349" href="/africa/index.php">
       África
      </a>
      <a class="au" data-navbar="260" href="/australia/index.php">
       Australia
      </a>
      <a class="oz" data-navbar="155" href="/oceania/index.php">
       Oceanía
      </a>
      <div class="no-desktop">
       <div class="subtitle">
        Geografía
       </div>
       <a href="/paises-mas-grandes.php">
        Países más grandes
       </a>
       <a href="/montanas-mas-altas.php">
        Montañas mas altas
       </a>
       <a href="/capitales.php">
        Capitales
       </a>
       <a href="/megaciudades.php">
        Megaciudades
       </a>
       <a href="/aeropuertos-mas-grandes.php">
        Aeropuertos más grandes
       </a>
       <a href="/zonas-horarias/index.php">
        Zonas horarias
       </a>
       <div class="subtitle">
        Población
       </div>
       <a href="/crecimiento-poblacional.php">
        Crecimiento de población
       </a>
       <a href="/densidad-poblacion.php">
        Densidad de población
       </a>
       <a href="/estatura-promedio.php">
        Tamaño promedio
       </a>
       <a href="/calidad-de-vida.php">
        Esperanza de vida
       </a>
       <a href="/ci-por-paises.php">
        CI por países
       </a>
       <a href="/esperanza-de-vida.php">
        Calidad de vida
       </a>
       <a href="/idiomas/index.php">
        Idiomas
       </a>
       <a href="/religiones/index.php">
        Religiones
       </a>
       <div class="subtitle">
        Economía
       </div>
       <a href="/paises-mas-ricos.php">
        Países más ricos
       </a>
       <a href="/desempleo.php">
        Tasas de desempleo
       </a>
       <a href="/ingreso-promedio.php">
        Ingreso promedio
       </a>
       <a href="/costo-de-vida.php">
        Coste de vida
       </a>
       <a href="/turismo.php">
        Países para viajar
       </a>
       <a href="/corrupcion.php">
        Corrupción
       </a>
       <a href="/paraisos-fiscales.php">
        Paraísos fiscales
       </a>
       <a href="/monedas/">
        Monedas
       </a>
       <div class="subtitle">
        Clima + Naturaleza
       </div>
       <a href="/desastres-naturales.php">
        Desastres naturales
       </a>
       <a href="/cambio-climatico.php">
        Calentamiento global
       </a>
       <a href="/co2-por-pais.php">
        Emisión de CO2
       </a>
       <div class="subtitle">
        Temas especiales
       </div>
       <a href="/coronavirus-covid19.php">
        Coronavirus
       </a>
       <a href="/refugiados-por-pais.php">
        Refugiados
       </a>
      </div>
     </nav>
     <div class="clear" data-pos="0" id="navbar" style="background-position:0px 0px;">
     </div>
    </header>
    <main id="main">
     <div id="intro1">
      <div id="blurbg" style="background-image:url(//cdn.datosmundial.com/pics/co2.jpg);">
      </div>
      <div id="intro3">
       <img alt="Emisiones de CO2 por combustión en centrales eléctricas" class="deko" height="244" src="//cdn.datosmundial.com/pics/co2.jpg" width="320"/>
       <div class="floater">
        <h1>
         Emisiones de metano y CO2 por país
        </h1>
        La emisión de dióxido de carbono (CO2) y metano (CH4) son las principales causas del efecto invernadero. Debido a la creciente industrialización, los gases de efecto invernadero se liberan sin control en muchos países. El ser humano es el mayor factor que trastorna el sistema.
        <br/>
        <br/>
        La siguiente lista muestra los mayores productores de los gases de efecto invernadero dióxido de carbono y metano. España ocupa el puesto 44 en la lista de 101 países en términos de consumo per cápita. Sólo aquí se producen 5.5 toneladas de CO2 y 0.84 toneladas de metano por habitante y año.
       </div>
       <div class="clear">
       </div>
      </div>
     </div>
     <div class="boxwhite">
      <h2>
       Los países por emisiones de gases de efecto invernadero
      </h2>
      El ranking de países abarca 101 países y sus emisiones de CO2 y metano. Haga clic en el nombre del país para obtener más información sobre el balance de energía del país correspondiente.
      <br/>
      <br/>
      Llama la atención que entre los mayores contaminadores, en términos de emisiones por habitante, se encuentran muchos países ricos del Cercano Oriente. La proporción por habitante es particularmente alta aquí, ya que se liberan grandes cantidades de gases de efecto invernadero en la extracción de gas natural y petróleo crudo, así como en la operación de refinerías. Puede leer cómo han cambiado las temperaturas en todo el mundo en las últimas décadas en nuestro análisis de los
      <a href="/cambio-climatico.php">
       aumentos de temperatura por continente
      </a>
      .
      <br/>
      <br/>
     </div>
     <div class="adtg bbd" data-bsa="1643232161546-0_123456" data-gptfrmt="bbd" id="adtg-1">
      <ins class="adsbygoogle" data-ad-client="ca-pub-0315193065476355" data-ad-format="horizontal" data-ad-slot="2913722277" data-full-width-responsive="true" id="ags1">
      </ins>
     </div>
     <div class="boxwhite">
      <div class="tablescroller">
       <table class="std100 hover" id="tabsort">
        <thead>
         <tr class="no-sort">
          <td class="left">
          </td>
          <td class="blank">
          </td>
          <td class="center" colspan="2">
           <strong>
            CO2
           </strong>
          </td>
          <td class="blank">
          </td>
          <td class="center" colspan="2">
           <strong>
            Methane
           </strong>
           <br/>
           <span style="font-size:0.9em;">
            (en equivalentes de CO2)
           </span>
          </td>
          <td class="blank">
          </td>
          <td class="center" colspan="2">
           <strong>
            Suma
           </strong>
           <br/>
           <span style="font-size:0.9em;">
            (en equivalentes de CO2)
           </span>
          </td>
         </tr>
         <tr class="no-sort">
          <th class="left">
           País
          </th>
          <td class="blank">
          </td>
          <th class="right">
           Total
          </th>
          <th class="nowrap right">
           por persona
          </th>
          <td class="blank">
          </td>
          <th class="right">
           Total
          </th>
          <th class="nowrap right">
           por persona
          </th>
          <td class="blank">
          </td>
          <th class="right">
           Total
          </th>
          <th class="nowrap right">
           por persona
          </th>
         </tr>
        </thead>
        <tbody>
         <tr>
          <td>
           <a class="fl_as fl_BRN" href="/asia/brunei/balance-energetico.php">
            Brunéi
           </a>
          </td>
          <td class="blank">
          </td>
          <td data-sort="71400000">
           7.14 M t
          </td>
          <td data-sort="1632">
           16.32 t
          </td>
          <td class="blank">
          </td>
          <td data-sort="88300000">
           8.83 M t
          </td>
          <td data-sort="2018">
           20.18 t
          </td>
          <td class="blank">
          </td>
          <td data-sort="159700000">
           15.97 M t
          </td>
          <td data-sort="3650">
           36.50 t
          </td>
         </tr>
         <tr>
          <td>
           <a class="fl_as fl_QAT" href="/asia/catar/balance-energetico.php">
            Catar
           </a>
          </td>
          <td class="blank">
          </td>
          <td data-sort="901700000">
           90.17 M t
          </td>
          <td data-sort="3130">
           31.30 t
          </td>
          <td class="blank">
          </td>
          <td data-sort="81100000">
           8.11 M t
          </td>
          <td data-sort="281">
           2.81 t
          </td>
          <td class="blank">
          </td>
          <td data-sort="982800000">
           98.28 M t
          </td>
          <td data-sort="3411">
           34.11 t
          </td>
         </tr>
         <tr>
          <td>
           <a class="fl_as fl_BHR" href="/asia/bahrein/balance-energetico.php">
            Bahrein
           </a>
          </td>
          <td class="blank">
          </td>
          <td data-sort="307500000">
           30.75 M t
          </td>
          <td data-sort="1807">
           18.07 t
          </td>
          <td class="blank">
          </td>
          <td data-sort="148500000">
           14.85 M t
          </td>
          <td data-sort="873">
           8.73 t
          </td>
          <td class="blank">
          </td>
          <td data-sort="456000000">
           45.60 M t
          </td>
          <td data-sort="2680">
           26.80 t
          </td>
         </tr>
         <tr>
          <td>
           <a class="fl_as fl_ARE" href="/asia/emiratos-arabes/balance-energetico.php">
            Emiratos Árabes
           </a>
          </td>
          <td class="blank">
          </td>
          <td data-sort="2003000000">
           200.30 M t
          </td>
          <td data-sort="2025">
           20.25 t
          </td>
          <td class="blank">
          </td>
          <td data-sort="529600000">
           52.96 M t
          </td>
          <td data-sort="535">
           5.35 t
          </td>
          <td class="blank">
          </td>
          <td data-sort="2532600000">
           253.26 M t
          </td>
          <td data-sort="2561">
           25.61 t
          </td>
         </tr>
         <tr>
          <td>
           <a class="fl_as fl_KWT" href="/asia/kuwait/balance-energetico.php">
            Kuwait
           </a>
          </td>
          <td class="blank">
          </td>
          <td data-sort="894600000">
           89.46 M t
          </td>
          <td data-sort="2095">
           20.95 t
          </td>
          <td class="blank">
          </td>
          <td data-sort="60800000">
           6.08 M t
          </td>
          <td data-sort="142">
           1.42 t
          </td>
          <td class="blank">
          </td>
          <td data-sort="955400000">
           95.54 M t
          </td>
          <td data-sort="2237">
           22.37 t
          </td>
         </tr>
         <tr>
          <td>
           <a class="fl_am fl_GRD" href="/america/granada/balance-energetico.php">

In [4]:
rows = soup.find('table', attrs={"id":"tabsort"}).find('tbody').find_all('tr')

In [5]:
country = []
metano = []
person = []
for row in rows:
    country.append(row.find_all('td')[0].get_text())
    metano.append(row.find_all('td')[5].get_text())
    person.append(row.find_all('td')[6].get_text())

In [6]:
df = pd.DataFrame({"Pais":country, "Metano total":metano, "Metano por persona": person})
df.head(5)

              Pais Metano total Metano por persona
0           Brunéi     8.83 M t            20.18 t
1            Catar     8.11 M t             2.81 t
2          Bahrein    14.85 M t             8.73 t
3  Emiratos Árabes    52.96 M t             5.35 t
4           Kuwait     6.08 M t             1.42 t

In [7]:
df.to_csv('Metano.csv') # Convert to csv